node_modules/
.expo/
dist/
web-build/
.env
.env.local
*.env
coverage/
.nyc_output/
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
Thumbs.db
